.header__container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.header__tagline {
  font-size: 18px;
  font-family: "CrimsonPro-BoldItalic";
  margin: 0;
}

.header__logo {
  height: 80px;
  width: 75px;
}

.header__title {
  font-size: 28px;
  font-family: "CrimsonPro-BoldItalic";
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 480px) {
  .header__container {
    padding: 15px;
  }

  .header__logo {
    height: 95px;
    width: 90px;
  }

  .header__title {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .header__container {
    padding: 20px;
  }

  .header__logo {
    height: 110px;
    width: 105px;
  }

  .header__title {
    font-size: 42px;
  }
}

@media (min-width: 1024px) {
  .header__logo {
    height: 117px;
    width: 115px;
  }

  .header__title {
    font-size: 50px;
  }
}
