.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding-top: 20px;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: 100px;
}

.navbar-icon {
  justify-self: center;
  font-size: 1.7rem;
  cursor: pointer;
  transition: color 0.2s;
}

.navbar-icon:hover {
  color: #556b2f;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-btn {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  background: #61dafb;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.navbar__signin-btn {
  font-family: "CrimsonPro-BoldItalic";
}

.navbar-btn:hover {
  background: #21a1f3;
  color: #fff;
}

.navbar__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
