.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px 20px;
  margin: 0 auto;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  z-index: 1;
}

.navbar__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 60px;
}

.navbar-icon {
  justify-self: center;
  font-size: 1.7rem;
  cursor: pointer;
  transition: color 0.2s;
  color: #556b2f;
}

.navbar-icon:hover {
  color: #a0522d;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  z-index: 1;
}
.navbar-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  background: #61dafb;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.navbar__signin-btn {
  font-family: "CrimsonPro-BoldItalic";
  letter-spacing: 1px;
  font-size: 17px;
  border: 1px solid gray;
  color: #f9f9f9;
  background-color: #556b2f;
}

.navbar-btn:hover {
  background: #21a1f3;
  color: #fff;
}

.navbar__avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar__avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar__avatar-trigger {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar__avatar-trigger:hover {
  opacity: 0.9;
}

@media (min-width: 480px) {
  .navbar {
    padding: 18px 15px 25px;
  }
  .navbar-left {
    gap: 1rem;
  }

  .navbar__logo {
    height: 60px;
    width: 75px;
  }

  .navbar-icon {
    font-size: 1.5rem;
  }

  .navbar-right {
    gap: 1rem;
  }

  .navbar-btn {
    padding: 0.45rem 1rem;
    font-size: 0.9rem;
  }

  .navbar__avatar {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 20px 30px 30px;
  }

  .navbar__logo {
    height: 70px;
    width: 85px;
  }

  .navbar-icon {
    font-size: 1.6rem;
  }

  .navbar-btn {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }

  .navbar__avatar {
    height: 55px;
    width: 55px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    max-width: 1280px;
    margin: 0 auto;
  }

  .navbar__logo {
    height: 80px;
    width: 100px;
  }

  .navbar-icon {
    font-size: 1.7rem;
  }

  .navbar__avatar {
    height: 60px;
    width: 60px;
  }
}
