@keyframes shake-crow {
  0% {transform: skew(4deg, 4deg);}
  10% {transform: skew(-4deg, -4deg);}
  20% {transform: skew(4deg, 4deg);}
  30% {transform: skew(-4deg, -4deg);}
  40% {transform: skew(4deg, 4deg);}
  50% {transform: skew(-4deg, -4deg);}
  60% {transform: skew(4deg, 4deg);}
  70% {transform: skew(-4deg, -4deg);}
  80% {transform: skew(4deg, 4deg);}
  90% {transform: skew(-4deg, -4deg);}
  100% {transform: skew(0deg);}
}

@keyframes shake-rich {
  0% {transform: scale(1.3);}
  10% {transform: scale(.9);}
  20% {transform: scale(1.3);}
  30% {transform: scale(.9);}
  40% {transform: scale(1.3);}
  50% {transform: scale(.9);}
  60% {transform: scale(1.3);}
  70% {transform: scale(.9);}
  80% {transform: scale(1.3);}
  90% {transform: scale(.9);}
  100% {transform: scale(1);}
}

@keyframes shake-majestyk {
  0% {transform: scale(1, 1.3);}
  10% {transform: scale(1);}
  20% {transform: rotate(-10deg);}
  30% {transform: rotate(0deg);}
  40% {transform: scale(1, 1.3);}
  50% {transform: scale(1);}
  60% {transform: rotate(10deg);}
  70% {transform: rotate(0deg);}
  80% {transform: scale(1, 1.3);}
  90% {transform: scale(1, .9);}
  100% {transform: scale(1);}
}

@keyframes shake-joshua {
  0% {transform: translate(-5px);}
  10% {transform: translate(10px);}
  20% {transform: skew(10deg);}
  30% {transform: translate(-10px);}
  40% {transform: translate(10px);}
  50% {transform: skew(10deg);}
  60% {transform: translate(-10px);}
  70% {transform: translate(10px);}
  80% {transform: skew(10deg);}
  90% {transform: translate(-10px);}
  100% {transform: translate(5px);}
}

.footer {
  margin: 80px 0 20px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-contributors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer-contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tree {
  width: 40px;
  cursor: pointer;
}

.footer-tree-crow:hover {
  animation: shake-crow 5s ease 1;
}

.footer-tree-rich:hover {
  animation: shake-rich 5s linear 1;
}

.footer-tree-majestyk:hover {
  animation: shake-majestyk 5s linear 1;
}

.footer-tree-joshua:hover {
  animation: shake-joshua 5s linear 1;
}

.footer-icon-crow,
.footer-icon-rich,
.footer-icon-majestik,
.footer-icon-joshua {
  position: absolute;
  top: 7px;
  left: 50px;
  cursor: pointer;
}

.footer-contributor-container {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 40px;
  border: 3px solid #a0522d;
  border-radius: 30px 30px 0px 0px;
  background-image: url("https://6tlg35rybd.ufs.sh/f/JT0pvUmaDUtZFxoxTRXJGv0zHpLdhj4Tmf1ZY5OBKVxN9XD6");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -15px;
  color: black;
  transition: background-color 0.5s linear;
  margin-top: 5px;
}

.footer-contributor-container:hover {
  background: none;
  background-color: #202c01;
  color: white;
}

.footer-contributor-name {
  font-family: "CrimsonPro-BoldItalic";
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  -webkit-text-stroke: 0.5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

@media (min-width: 480px) {
  .footer {
    margin: 100px 0 25px;
    padding: 0 15px;
  }

  .footer-contributors {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-tree {
    width: 45px;
  }

  .footer-icon-crow,
  .footer-icon-rich,
  .footer-icon-majestik,
  .footer-icon-joshua {
    left: 55px;
    top: 8px;
  }

  .footer-contributor-container {
    width: 130px;
    height: 45px;
  }

  .footer-contributor-name {
    font-size: 24px;
    -webkit-text-stroke: 0.4px gray;
  }
}

@media (min-width: 768px) {
  .footer {
    margin: 150px 0 30px;
    padding: 0 20px;
  }

  .footer-contributors {
    flex-wrap: nowrap;
    gap: 60px;
  }

  .footer-tree {
    width: 50px;
  }

  .footer-icon-crow,
  .footer-icon-rich,
  .footer-icon-majestik,
  .footer-icon-joshua {
    left: 60px;
    top: 8px;
  }

  .footer-contributor-container {
    width: 140px;
    height: 48px;
    background-position-y: -16px;
  }

  .footer-contributor-name {
    font-size: 28px;
    -webkit-text-stroke: 0.45px gray;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin: 200px 0 30px;
  }

  .footer-contributors {
    gap: 80px;
  }

  .footer-tree {
    width: 55px;
  }

  .footer-tree:hover {
    transform: scale(1.3);
  }

  .footer-icon-crow,
  .footer-icon-rich,
  .footer-icon-majestik,
  .footer-icon-joshua {
    left: 65px;
    top: 9px;
  }

  .footer-contributor-container {
    width: 145px;
    height: 50px;
    background-position-y: -17px;
  }

  .footer-contributor-name {
    font-size: 32px;
    -webkit-text-stroke: 0.5px gray;
  }
}

@media (min-width: 1280px) {
  .footer-contributors {
    gap: 100px;
  }

  .footer-tree {
    width: 60px;
  }

  .footer-icon-crow,
  .footer-icon-rich,
  .footer-icon-majestik,
  .footer-icon-joshua {
    left: 70px;
  }

  .footer-contributor-container {
    width: 150px;
  }

  .footer-contributor-name {
    font-size: 35px;
  }
}